django-filter>=25.1
django>=5.2
django-cors-headers>=4.7.0
djangorestframework>=3.16.0
djangorestframework-simplejwt>=5.5.0
psycopg2-binary>=2.9.10
python-dotenv>=1.1.0
twilio>=9.5.2
slack-sdk>=3.35.0
sendgrid
