# Core dependencies
Django>=4.2,<5.0
djangorestframework>=3.14.0
djangorestframework-simplejwt>=5.2.2
python-decouple>=3.8
django-cors-headers>=4.0.0
drf-yasg>=1.21.7
gunicorn>=21.2.0
whitenoise>=6.6.0
psycopg2-binary>=2.9.6
django-filter>=23.2
Pillow==11.2.1

# Google API dependencies
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
google-api-core==2.24.2
google-api-python-client==2.167.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.70.0
httplib2==0.22.0
idna==3.10
oauthlib==3.2.2
proto-plus==1.26.1
protobuf==6.30.2
pyasn1==0.6.1
pyasn1-modules==0.4.2
pyparsing==3.2.3
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9.1
uritemplate==4.1.1
urllib3==2.4.0

# Microsoft Auth dependencies
cffi==1.17.1
cryptography==44.0.2
msal==1.32.0
pycparser==2.22

# Zoom API wrapper
zoomus==1.2.1

# Additional packages
pytz==2025.2
numpy==2.2.4
chardet==5.2.0
reportlab==4.3.1
pandas==2.2.3

# 2FA and form/phone utilities
django-formtools==2.5.1
django-phonenumber-field==8.1.0
django-two-factor-auth==1.17.0
django-otp==1.6.0
pypng==0.20220715.0
qrcode==7.4.2
typing-extensions==4.13.2
